* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

.container {
    background: #272727;
    min-height: 100vh;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}


form {
    width: 350px;
    background: white;
    height: 600px;
    margin: auto;
    border-radius: 30px;
    padding: 20px;
    font-family: ubuntu;

}

label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px  ;
}

input,
input {
    height: 40px;
    width: 200px;
    border: 1px solid #ccc;
    background: #FFF;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background: #eaeaea;

}
input:focus{
    outline: 0;
    border: 1px solid #aaa;
}
input:hover,
input:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

.form-group {
    margin: 20px 50px;
}
::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

 button {
    cursor: pointer;
    width: 50px;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}


 button:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

 button:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

button>a{
    text-decoration: none;
    color: white;
}